@using Microsoft.Extensions.Caching.Memory
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3 p-0 d-flex justify-content-center w-100 overflow-hidden" style="height:77vh">
    <img src="/images/Main.png" class="d-block  h-100" />
</div>