@model EditOptionViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="card card-body">
    <div class="card-title mt-4" >
        <h2>Edit Option</h2>
    </div>
    
    <form asp-action="Edit">
        <input asp-for="Id" hidden />
        <input asp-for="VariationId" hidden />
        <div class="mb-3">
            <label asp-for="Value" class="form-label"></label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="float-end mt-3">
            <a asp-controller="Variation" asp-action="Details" asp-route-id="@Model.VariationId" class="btn btn-secondary rounded mb-4">Done</a>
            <input type="submit" class="btn btn-primary rounded mb-4" value="Update"/>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

