
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="d-flex justify-content-center align-items-center overflow-hidden" style="height:79vh">
        <img src="~/Images/AccessDenied.png" class="d-block w-75 " />
</div>