@model ChangePasswordViewModel

@{
    var returnUrl = Context.Request.Path + Context.Request.QueryString .ToString();
}

<div class="modal fade" id="ChangePasswordModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Change Password</h5>
            </div>
            <div class="modal-body">
                <form asp-area="identity" asp-controller="account" asp-action="ChangePassword" asp-route-returnUrl="@returnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="my-3">
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input asp-for="OldPassword" class="form-control"/>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                     <div class="my-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" class="form-control"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                     <div class="my-3">
                        <label asp-for="ConfirmNewPassword" class="form-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="mt-3 d-flex justify-content-end gap-2">
                         <input type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal" value="Back" />
                         <input type="submit" class="btn btn-primary" value="Change"/>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>