@{
    ViewData["Title"] = "Index";
}

<div class="card card-body">
    <div class="d-flex justify-content-between">
        <div class="card-title mt-4">
            <h2>Categories</h2>
        </div>
        <div class="input-group w-25 position-relative">
            <input type="text" class="form-control-plaintext h-100 pe-4" placeholder="search" id="searchInput"/>
            <button class="btn position-absolute end-0 top-50 translate-middle-y pe-0" id="searchBtn"><i class="bi bi-search text-primary fs-5"></i></button>
        </div>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyData"></tbody>
        <tbody id="tbodySearch"></tbody>
    </table>
    <div class="mt-3 d-flex justify-content-end">
        <button class="btn btn-outline-secondary rounded d-none me-2 mb-4" id="cancelSearch">Cancel</button>
        <button class="btn btn-outline-primary rounded mb-4" id="showMore">Show More</button>
    </div>
</div>


@section Scripts
{
    <script src="/js/Areas/Admin/Category/Index.js"></script>
}