@model AddItemOptionsViewModel
@{
    ViewData["Title"] = "AddItemOptions";
    var returnUrl = Context.Request.Path + Context.Request.QueryString.Value;
}


<div class="card card-body">
    <div class="card-title mt-4" >
        <h2>Add Item Options</h2>
    </div>
    
    <form asp-action="AddItemOptions" asp-route-returnUrl="@returnUrl">
        <input asp-for="ItemId" hidden />
        <input asp-for="ReturnUrl" hidden />
        <div class="my-3">
            <label asp-for="OptionsIDs" class="form-label"></label>
            <select asp-for="OptionsIDs" class="form-select ps-4" style="height:250px" multiple>
                @foreach(var variation in Model.Variations)
                {
                    @if(variation.Options != null)
                    {
                        <optgroup label="@variation.Name">
                            @foreach(var option in variation.Options)
                            {
                                <option value="@option.Id">@option.Value</option>
                            }
                        </optgroup>
                    }
                }
            </select>
        </div>
        <div class="float-end mt-3">
            <input type="submit" class="btn btn-primary rounded mb-4" value="Add"/>
        </div>
    </form>
</div>